* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif !important;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}

footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  bottom: 0;
  background: linear-gradient(180deg, black 0%, #626262 86%, #afafaf 100%);
}

footer .redes {
  color: white;
  list-style: none;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

footer .redes li:hover {
  background-color: blue;
}

/*  */

.titular {
  text-align: center;
}

.titular h2,
h1 {
  font-weight: 600;
  font-family: monospace !important;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

nav div a {
  color: #0f0f0f !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

a {
  justify-content: center;
}

.cardStyle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 50px;
}

.card {
  background-color: #c99c5d33;
  border-radius: 5px;
  height: 470px;
  width: 300px;
}


.row {
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

.d-block {
  height: 500px;
  width: 500px;
}

.contactoRedes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  font-size: 50px;
}

.logo {
  width: 70px;
  height: 70px;
}

.carousel {
  border-radius: 1cm;
  background-color: #c99c5d7e;
  align-items: center;
}

.carousel-item img {
  margin: auto;
}

/************************************** CONTACTO **************************************/

.content {
  width: 65%;
  margin: 1rem auto 3rem auto;
}

.content h2 {
  font-size: 2rem;
  text-align: center;
}
.content p {
  text-align: center;
  line-height: 26px;
  font-size: 1.3rem;
}
/* Form */

.form label {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form input {
  display: block;
  border: none;
  width: 100%;
  margin-bottom: 0.3rem;
}

.form input[type="text"] {
  border: 1px solid #495e8d;
  border-radius: 5px;
  background-color: transparent;
  padding: 1.5rem;
  margin-bottom: 1rem;
  color: black;
  font-size: 16px;
}

.form button {
  border-radius: 5px;
  background-color: #ad8750;
  color: white;
  padding: 1.5rem 3rem;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

article a {
  display: grid;
  margin: auto;
  width: 50%;
  text-decoration: none;
  
}
li{
  list-style: none;
}

#productos img {
  display: flex;
  align-self: center;
  width: 75%;
  height: 50%;
  padding: 10px;
}

.listContacto{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* -------------------------- */
/******** RESPONSIVE  ********/
/* ------------------------ */

/* Tablets */
@media (min-width: 480px) and (max-width: 1024px) {
}

/* Smartphone */
@media (max-width: 479px) {
  .d-block {
    height: 50%;
    width: 100%;
  }
}

div.col-12 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicio{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  align-items: center; 
  justify-content:center ;
  background-color: #c99c5d7e;
  border-radius: 4cm;
  }

.textInicio{
  font-size: 70px;
  text-align: center;
  
}

.imgInicio{
  height: 700px;
  width: 700px;
  border-radius: 23cm;
  padding: 100px;
}

.h2Inicio{
  font-size: 40px;
  text-align: center;
}

a{
  text-decoration: none;
  color: white;
}